<footer class="site-footer h-card footer-wrapper">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading site-footer-header-style">
      <!-- {{ site.title | escape }} -->
      Leon Lin
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name site-footer-role-style">
            Software Engineer
            <!--
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
            -->
            </li>
            {%- if site.email -%}
            <li class="site-footer-email-style">
              <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2 site-footer-account-style">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p class="site-footer-description-style">{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
