<header class="site-header site-header-style" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <nav class="navbar navbar-expand-lg navbar-light navbar-padding">
      <a class="navbar-brand navbar-brand-font" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

      <!--
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarList">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarList">
          <ul class="navbar-nav ml-auto">
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              <li class="nav-item">
                <a class="nav-link navbar-link-font" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      -->
    </nav>
  </div>
</header>
