---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
*, ::after, ::before{
    box-sizing: content-box !important;
}

.navbar-padding{
    padding-left: 0;
    padding-right: 0;
}

.site-header-style{
    background-color: #1565C0;
    border-color: #1565C0;
}

.site-header-style *{
    color: #FAFAFA !important;
}

.navbar-brand-font{
    font-weight: 700;
}

.navbar-link-font{
    font-weight: 500;

    &:hover{
        color: #013673 !important;
    }
}

.navbar-toggler-style{
    border: none;
    box-shadow: none;

    &:focus{
        outline: none;
    }

    &:hover{
        color: #013673 !important;

        i{
            color: #013673 !important;
        }
    }
}

.navbar-header-style{
    li a{
        font-weight: 700;
        text-transform: uppercase;
    }
}

.home{
    p{
        font-weight: 400;
        color: #212121 !important;
    }
    .home-header{
        font-weight: 300;
    }
}

.section-header{
    font-size: 1.5rem;
}

.media-wrapper{
    margin-left: 0px;
    .media-body-description{
        font-weight: 300;
        color: #424242 !important;
    }
}

.post-list{
    .blog-post-title{
        margin-bottom: 5px;
        font-weight: 700;
        
        a{
            color: #424242;
            font-size: 1.5rem;
        }
    }
}

.blog-post-wrapper{
    margin-top: 10px;
    padding-top: 30px;
    border-top-style: solid;
    border-color: #E8E8E8;
    border-width: 1px;
    .post-title-style{
        color: #424242;
        font-weight: 700;
    }
}

.blog-header{
    margin-bottom: 5px;
    font-weight: 700;
    color: #212121;
}

.blog-header-tagline{
    font-weight: 300;
    color: #828282;
}